@import './reset.css';
@import './fonts/stylesheet.css';
body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
}
.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-right {
  padding-left: calc((100% - 1750px) / 2 + 15px);
}
.none {
  display: none;
}
/* Button */
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  padding-right: 72px;
  border: 1px solid #114455;
  border-radius: 2px;
  color: #114455;
  font-size: 20px;
  font-weight: 700;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}
.btn::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('./../IMG/icons/arroy-right-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.btn:hover,
.btn:focus {
  background-color: #114455;
  color: #fff;
}
.btn:active {
  top: 1px;
}
.btn:hover::after {
  background-image: url('./../IMG/icons/arroy-right-white.svg');
}
.btn--big {
  padding: 14px 32px;
  padding-right: 80px;
}
.btn--dark {
  background-color: #114455;
  color: #fff;
}
.btn--dark:hover,
.btn--dark:focus {
  background-color: #000;
}
.btn--dark::after {
  background-image: url('./../IMG/icons/arroy-right-white.svg');
}

/* Header */
.header {
  min-height: 100vh;
  background-color: #e1edf2;
  background-image: url('./../IMG/header/header-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.header__top {
  padding: 44px 0;
  margin-bottom: 126px;
}

/* Nav */

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 118px;
}
.link {
  color: #114455;
  font-size: 20px;
  font-weight: 700;
}

/* Header content */

.header__content {
  max-width: 1060px;
}
.header__title {
  max-width: 734px;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  color: #114455;
}
.header__text {
  margin-bottom: 72px;
  font-size: 34px;
  color: darkgrey;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
}
.header__text p + p {
  margin-top: 1em;
}

/* Case Studies */

.case-studies {
  padding: 184px 0;
}
.case-studies__title {
  max-width: 1070px;
  margin-bottom: 12px;
}
.case-studies__text {
  max-width: 1070px;
  margin-bottom: 100px;
}
.title {
  font-size: 80px;
  font-weight: 800;
  line-height: 98px;
  color: #1f1f1f;
}
.text {
  font-size: 28px;
  line-height: 1.57;
  color: #1f1f1f;
}

/* Slider */

.slider {
}
.slider__item {
}

/* Slide */

.slide {
  position: relative;
  display: inline-block;
  padding-left: 80px;
}
.slide__title {
  position: absolute;
  left: 0;
  bottom: 104px;
  font-size: 140px;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgba(17, 68, 85, 1) 80px,
    rgba(255, 255, 255, 1) 80px
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slide__img {
}
